<%= link_to "新增任務", new_task_path %>
<%= link_to "登出", logout_path, method: :delete %>

<table>
  <thead>
    <tr>
      <td>名稱</td>
      <td>順序</td>
      <td>狀態</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task_path(task) %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>