<%= link_to "#{t("new")}#{Task.model_name.human}", new_task_path %>
<%= link_to "#{t("logout")}", logout_path, method: :delete %>

<div>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont, class: "form-control"  %>
    <%= f.submit %>
  <% end %>
</div>
<div>
  <%= paginate @tasks, left: 2, right: 2  %>
</div>
<table>
  <thead>
    <tr>
      <td><%= Task.human_attribute_name("name") %></td>
      <td>
        <%= sort_link(@q, :priority, Task.human_attribute_name("priority"), default_order: :desc) %>
      </td>
      <td>
        <%= sort_link(@q, :status, Task.human_attribute_name("status"), default_order: :desc) %>
      </td>
      <td>
        <%= sort_link(@q, :start_at, Task.human_attribute_name("start_at"), default_order: :desc) %>
      </td>
      <td>
        <%= sort_link(@q, :end_at, Task.human_attribute_name("end_at"), default_order: :desc) %>
      </td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task_path(task) %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= task.start_at.strftime("%F %T") %></td>
        <td><%= task.end_at.strftime("%F %T") %></td>
      </tr>
    <% end %>
  </tbody>
</table>