<%= link_to "#{t("edit")}", edit_task_path(@task) %>
<%= link_to "#{t("destroy")}", task_path(@task), method: :delete%>
<%= link_to "#{t("back")}", :back %>
<div class="col-2">
  <p><%= Task.human_attribute_name("name") %></p>
  <p><%= @task.name %></p>
</div>
<div class="col-2">
  <p><%= Task.human_attribute_name("start_at") %></p>
  <p><%= @task.start_at %></p>
</div>
<div class="col-2">
  <p><%= Task.human_attribute_name("end_at") %></p>
  <p><%= @task.end_at %></p>
</div>
<div class="col-4">
  <p><%= Task.human_attribute_name("content") %></p>
  <p><%= @task.content %></p>
</div>
<div class="col-1">
  <p><%= Task.human_attribute_name("priority") %></p>
  <p><%= @task.priority %></p>
</div>
<div class="col-1">
  <p><%= Task.human_attribute_name("status") %></p>
  <p><%= @task.status %></p>
</div>
