<%= link_to "修改", edit_task_path(@task) %>
<%= link_to "刪除", task_path(@task), method: :delete%>
<%= link_to "返回", :back %>
<div class="col-2">
  <p>name:<%= @task.name %></p>
</div>
<div class="col-2">
  <p>start_at:<%= @task.start_at %></p>
</div>
<div class="col-2">
  <p>end_at:<%= @task.end_at %></p>
</div>
<div class="col-4">
  <p>content:<%= @task.content %></p>
</div>
<div class="col-1">
  <p>priority:<%= @task.priority %></p>
</div>
<div class="col-1">
  <p>status:<%= @task.status %></p>
</div>
