<div class="col-1">
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= form_with model: @user do |f| %>
  <div class="col-3">
      <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name %>
      </div>
  </div>
  <div class="col-3">
      <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email %>
      </div>
  </div>
  <div class="col-1">
      <div class="form-group">
          <%= f.button "確認", class: "btn btn-success btn-sm form-control" %>
      </div>
  </div>
<% end %>
